div.grouped-container {
  border: 1px solid gray;
}

div.num {
  text-align: right;
}

div.innergrid:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

div.innergrid-with-bottom {
  border-bottom: 1px solid lightgray;
}

div.right-border-not-last:not(:last-child) {
  border-right: 1px solid lightgray;
}

input.editablenum {
  width: 2em;
}
